.venv
.pytest_cache
__pycache__
.pytest_cache/
.cache
.mypy_cache
*.pyc
*.pyo
*.pyd
build/
dist/
.git
.gitignore
.env
ENV
venv/
node_modules/
*.sqlite3
*.db
coverage/
*.log
docs/_build
/.github/workflows/
*.swp
tests/
*.pem
*.key
Dockerfile
docker-compose.override.yml__pycache__
.pytest_cache
.venv
.env
venv
*.pyc
*.pyo
*.pyd
.mypy_cache
dist
build
.git
uploads
node_modules
*.sqlite3
*.log