app/__pycache__/chat.cpython-39.pyc
app/__pycache__/config.cpython-39.pyc
app/__pycache__/extensions.cpython-39.pyc
app/__pycache__/main.cpython-39.pyc
app/__pycache__/main.cpython-313.pyc
app/__pycache__/models.cpython-39.pyc
app/__pycache__/utils.cpython-39.pyc
.env
